*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif; /*folosesti aceasta familie din google fonts*/
} /*pentru a seta margin si padding de la default settings la 0*/

body{
    min-height: 100vh; /*pentru a ne asigura ca contentul nostru ocupa intregul ecran*/
    background-image: linear-gradient(rgba(198, 196, 195, 0.5),rgba(198, 196, 195, 0.5)),url(Images/Home/background.jpg);/*pentru a introduce imaginea din background*/
    background-size: cover; /*the image covers the entire container*/
    background-repeat: no-repeat; /*nu se repeta imaginea*/
    background-position: center; /*pui imaginea in centrul ecranului*/
}

nav{
    background-color: rgba(255,255,255,0.9); 
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1); /*box-shadow effect pentru a arata mai bine*/   
}

nav ul{
    width: 10; /*to make it expand the full width of it's container*/
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} /* CAUTA INFORMATII DESPRE FLEX*/

nav li{
    height: 50px;
} /*nav li de la navigation list items. Orice navigation item reprezinta un navigation link*/ 
/*nu ai declarat marimea nav bar-ului pentru ca acesta sa ia marimea list items-urilor sa defineasca marimea parintilor lor (adica a nav bar) */

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none; /*pentru a trage underline*/
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color:#dcdcdc ; /*pentru a da efect atunci cand aduci mouse-ul in fata item-ului*/ 
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; /*tot ecranul*/
    width: 250px;
    z-index: 999; /*pentru a ne asigura ca se gaseste deasupra*/
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);

    box-shadow: -10px 0 10px rgba(0,0,0,0.1) ;

    /*pentru a pune items pe verticala*/
    display: none; /*ca sa nu apara atunci cand nu este apasat butonul de meniu*/
    flex-direction: column;
    align-items: flex-start; /*le aliniaza*/
    justify-content: flex-start; /*le pune sus*/

}/*sidebar akopera tot si se afla in dreapta*/

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menuButton{
    display: none;
} /*nu vrem sa ne apara menu button pe ecranele mari*/

@media(max-width:700px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block; /* vrem sa ne apara menu button pe ecranele mai mici*/
    }
}
    /*orice element care apartine clasei hideOnMobile o sa dispara atunci cand latimea ecranului este mai mica decat 700px*/

@media(max-width: 400px){
    .sidebar{
        width:100%;
    }
}/*cand intram de la telefon si are latimea <=400px atunci vrem ca sidebar sa ocupe tot ecranul*/


/*---------------postarile din main--------------------*/
.main-title{
    margin-top:30px;
    font-weight: 800;
    color:rgba(58, 58, 57, 1);
    width:90%;
    word-break:keep-all; /*pentru a muta tot cuvantul in urmatorul rand*/
    text-align: center;
}
.main-title{animation:fadeIn 2s;}
.post-row{
    margin-top:5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
} /*randul pe care vor fi puse posturile*/

.posts{
    width:95%;/*el a pus 80%*/
    margin:auto;
    text-align: center;
    padding-top:20px;
}
.post-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: rgba(255,255,255,0.7);
    transition:0.5s;
}

.post-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}
.post-col img{
    width: 100%;
    height: 75%;
    border-radius: 10px;
}
.post-col-text{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    transition:0.3s;
    color: black;
    text-decoration: none;
    font-weight: 700;

}
.post-col{animation:fadeIn 2s;}
.post-col-text:hover{
    color: rgb(33, 30, 79);
    text-decoration: underline;
}
@media(max-width:700px){
    .post-row{
        flex-direction: column;
    }
}



/*------------------------About----------------------------*/
.about-container{
    display: flex;
    column-gap: 20px;
    height: 70vh; /* POATE TREBUIE MODIFICAT*/
    flex-direction: row; 
    align-items: center; /*aliniaza pe verticala*/
    justify-content: center;  /*aliniaza pe orizontala*/
    flex-wrap: wrap; /*pentru a trece boxurile una sub alta pe ecrane mai mici*/
    
}
.about-container{animation:fadeIn 2s;}

.about-box1{
    height: 250px;
    width: 250px;
    box-shadow: 3px 5px rgba(0,0,0,0.1)
}
.about-box2{
    height: 300px;
    width: 300px;
    background-color:rgba(255,255,255,0.7);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

}

img{
    max-height: 100%;
    max-width: 100%;
} /* pentru ca marimea maxima a imaginilor sa fie maxim 100% din marimea box-urilor in care le pui*/

h1{
    font-size: 16;
    font-weight: 500; /*grosimea textului*/
    text-align: center;
    font-style: normal;
}

p{
    font-size: 14;
    font-style:normal;
    font-weight: 400;
    text-indent: 20px;
    padding: 20px; /*Pt ca textul sa nu mearga pama la marginile box-ului*/
    text-align: justify;
}

/*------------------------------Healthcare section---------------------------------*/
.healthcare-page-title{
    margin:30px;
    font-weight: 800;
    color:rgba(58, 58, 57, 1);
    width:90%;
    word-break:keep-all; /*pentru a muta tot cuvantul in urmatorul rand*/
}
.healthcare-page-title{animation:fadeIn 2s;}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .healthcare-container{animation:fadeIn 3s}/*pentru a face textul si posturile sa apara dupa cateva secunde*/
  


.healthcare-container{
    display: flex;
    padding: 40px;
    column-gap: 20px;
    width: 95%;
    height: 120px; /* POATE TREBUIE MODIFICAT*/
    margin:10px auto; /*poate trebuie sters*/


    flex-direction: row; 
    align-items: center; /*aliniaza pe verticala*/
    flex-wrap: wrap; /*pentru a trece boxurile una sub alta pe ecrane mai mici*/
    background-color: rgba(255,255,255,0.7);
    /*float:left;*/
    overflow: hidden;
}

.healthcare-containe .healthcare-image{
    height: 100%; /*pentru a aavea inaltimea containerului*/
    width: 40%; /* are latimea= 40% din latimea parintelui(healthcare-container)*/
    /*float: left;*/

}
h2{
    font-size: 15pt;
    font-weight: 700; /*grosimea textului*/
    text-align: left;
    font-style: normal;
}

.healthcare-textbox{
    height: 100%;
    width:60%; /*60% din marimea containerului*/
}

.small-text{
            font-size: 10pt;
            font-style:normal;
            word-break:break-all;
            font-weight: 200;
            text-indent: 0pt;
            /*padding: 20px;*/ /*Pt ca textul sa nu mearga pama la marginile box-ului*/
            text-align: justify;
} /*pentru a avea si text mai mic la healthcare*/


.read-more-button{
    font-size: 10pt;
    text-decoration: none; /*pentru a elimina underline*/
    padding:.5rem 1rem;
    background-color:rgba(229, 178, 161, 1) ;

    color: rgba(2, 57, 99,1);
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: .25rem; /* sa nu mai fie ascutite colturile*/
    transition:transform 0.3s, background-color 0.3s ease,color 0.3s;
}

.read-more-button:hover{
    /*transform:translateY(-5px);*/
    color:rgb(4, 109, 189);
    background-color: rgb(220, 138, 110);
} /*atunci cand aduci mouseul deasupra butonului, se schimba culoarea textului si a backgroundului */

@media(max-width:740px){
    .healthcare-container{
        flex flex-direction:column;

    }
    
}
/*----------------Healthcare- Blood presure---------------------------------*/

.healthcare-blood-pressure-container{
    display:flex;
    height:30%; /* POATE TREBUIE MODIFICAT*/
    /* flex-direction: column; pentru a pune tabelul in centrul paginiii?? */
    align-items: center; /*aliniaza pe verticala*/
    justify-content: center; 
    margin-bottom: 2%; 

}

.blood-pressure-tabel{
    border-collapse: collapse;/*lasa mai putin spatiu intre celule*/
    align-items: center;
    margin:25px auto;
    font-size:0.9em;
    min-width:400px;
    
}

.healthcare-blood-pressure2-container{
    background-color: rgba(237, 211, 201,0.7);
    display:flex;
    height:30%; /* POATE TREBUIE MODIFICAT*/
    width:40%;
    min-width: 400px;
    flex-direction: row; 
    align-items: center; /*aliniaza pe verticala*/
    justify-content: center; 
    margin-bottom: 2%;
}
.blood-pressure-tabel thead tr{
    color:rgb(98, 20, 4);
    text-align: left;
    font-weight: bold;
}
.blood-pressure-tabel th,
.blood-pressure-tabel td{
    padding: 12px 15px;
}

.blood-pressure-tabel tbody tr{
    border-bottom: 1px solid #dddd;
}
.blood-pressure-tabel tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

















