*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif; /*folosesti aceasta familie din google fonts*/
} /*pentru a seta margin si padding de la default settings la 0*/

body{
    min-height: 100vh; /*pentru a ne asigura ca contentul nostru ocupa intregul ecran*/
    background-image: linear-gradient(rgba(198, 196, 195, 0.5),rgba(198, 196, 195, 0.5)),url(Images/Home/background.jpg);/*pentru a introduce imaginea din background*/
    background-size: cover; /*the image covers the entire container*/
    background-repeat: no-repeat; /*nu se repeta imaginea*/
    background-position: center; /*pui imaginea in centrul ecranului*/
}

nav{
    background-color: rgba(255,255,255,0.9); 
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1); /*box-shadow effect pentru a arata mai bine*/   
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

nav li{
    height: 50px;
} /*nav li de la navigation list items. Orice navigation item reprezinta un navigation link*/ 
/*nu ai declarat marimea nav bar-ului pentru ca acesta sa ia marimea list items-urilor sa defineasca marimea parintilor lor (adica a nav bar) */

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none; /*pentru a trage underline*/
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color:#dcdcdc ; /*pentru a da efect atunci cand aduci mouse-ul in fata item-ului*/ 
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; /*tot ecranul*/
    width: 250px;
    z-index: 999; /*pentru a ne asigura ca se gaseste deasupra*/
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);

    box-shadow: -10px 0 10px rgba(0,0,0,0.1) ;

    /*pentru a pune items pe verticala*/
    display: none; /*ca sa nu apara atunci cand nu este apasat butonul de meniu*/
    flex-direction: column;
    align-items: flex-start; /*le aliniaza*/
    justify-content: flex-start; /*le pune sus*/

}/*sidebar akopera tot si se afla in dreapta*/

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menuButton{
    display: none;
} /*nu vrem sa ne apara menu button pe ecranele mari*/

@media(max-width:700px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block; /* vrem sa ne apara menu button pe ecranele mai mici*/
    }
}
    /*orice element care apartine clasei hideOnMobile o sa dispara atunci cand latimea ecranului este mai mica decat 700px*/

@media(max-width: 400px){
    .sidebar{
        width:100%;
    }
}/*cand intram de la telefon si are latimea <=400px atunci vrem ca sidebar sa ocupe tot ecranul*/




/*------------------------About----------------------------*/
.about-container{
    display: flex;
    column-gap: 20px;
    height: 80vh; 
    flex-direction: row; 
    align-items: center; /*aliniaza pe verticala*/
    justify-content: center;  /*aliniaza pe orizontala*/
    flex-wrap: wrap; /*pentru a trece boxurile una sub alta pe ecrane mai mici*/
    
}
.about-container{animation:fadeIn 2s;}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.about-box1{
    height: 250px;
    width: 250px;
    box-shadow: 3px 5px rgba(0,0,0,0.1)
}
.about-box2{
    height: 300px;
    width: 300px;
    background-color:rgba(255,255,255,0.7);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);

}

img{
    max-height: 100%;
    max-width: 100%;
} /* pentru ca marimea maxima a imaginilor sa fie maxim 100% din marimea box-urilor in care le pui*/

h1{
    font-size: 16;
    font-weight: 500; /*grosimea textului*/
    text-align: center;
    font-style: normal;
}

p{
    font-size: 14;
    font-style:normal;
    font-weight: 400;
    text-indent: 20px;
    padding: 20px; /*Pt ca textul sa nu mearga pama la marginile box-ului*/
    text-align: justify;
}

